@font-face {
  font-family: "AktivGroteskCorp";

  src: url("../fonts/AktivGroteskCorp-Regular.woff2") format("woff2"),
    url("../fonts/AktivGroteskCorp-Regular.woff") format("woff"),
    url("../fonts/AktivGroteskCorp-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AktivGroteskCorp";

  src: url("../fonts/AktivGroteskCorp-Medium.woff2") format("woff2"),
    url("../fonts/AktivGroteskCorp-Medium.woff") format("woff"),
    url("../fonts/AktivGroteskCorp-Medium.ttf") format("truetype");

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AktivGroteskCorp";

  src: url("../fonts/AktivGroteskCorp-Bold.woff2") format("woff2"),
    url("../fonts/AktivGroteskCorp-Bold.woff") format("woff"),
    url("../fonts/AktivGroteskCorp-Bold.ttf") format("truetype");

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
