.header {
  position: relative;
  min-height: 100vh;
  margin-bottom: 50px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;

  &__bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 160px;
    margin-bottom: 100px;
  }

  &__logo {
    font-size: 32px;
    font-weight: bold;
    color: $red;
  }

  &__menu {
    li + li {
      margin-left: 50px;
    }
  }

  &__link {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__screen {
    position: relative;
    z-index: 10;
    padding-bottom: 275px;
    text-align: left;
  }

  &__title {
    max-width: 700px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    line-height: 74px;
    opacity: 0;
    animation: fadeInRight 0.5s forwards;
  }

  &__text {
    max-width: 530px;
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 28px;
    opacity: 0;
    animation: fadeInLeft 0.5s forwards;
    animation-delay: 0.5s;
  }

  &__btn-wrapper {
    display: flex;

    .btn {
      margin-bottom: 15px;
    }

    a {
      text-align: center;
      margin-left: 30px;
    }
  }

  &__chart {
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 550px;

    img {
      width: 100%;
      height: 550px;
    }
  }

  &__chart-profit {
    position: absolute;
    right: 30px;
    bottom: 98%;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: $red;
    border-radius: 2px;
    animation: pulse 1s infinite;

    &::after {
      position: absolute;
      top: 50%;
      right: -22px;
      content: "";
      border: 14px solid transparent;
      border-left: 14px solid $red;
      transform: translateY(-50%);
    }
  }
} /* header ================ */

.btn {
  padding: 21px 50px 24px;
  font-size: 20px;
  background-color: $red;
  border: 0;
  border-radius: 35px;

  &--g {
    background-color: $grey;
  }
} /* btn ================ */

.red-line {
  position: relative;

  &::before {
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 0;
    height: 3px;
    content: "";
    background-color: $red;
    transition: width 0.4s;
  }

  &:hover::before {
    width: 100%;
  }
} /* red-line ================ */

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: $grey;
  text-transform: uppercase;
} /* title ================ */

.sub-title {
  max-width: 920px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  color: $brown;
} /* sub-title ================ */

.services {
  margin-bottom: 70px;

  &__title {
    margin-bottom: 30px;
  }

  &__sub-title {
    margin-bottom: 65px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 225px;
    margin: 0 30px 50px;
    opacity: 0;

    &:nth-child(4n + 1) {
      animation: fadeInLeft 0.5s forwards;
    }

    &:nth-child(4n + 2) {
      animation: fadeInUp 0.5s forwards;
      animation-delay: 0.4s;
    }

    &:nth-child(4n + 3) {
      animation: fadeInUp 0.5s forwards;
      animation-delay: 0.8s;
    }

    &:nth-child(4n) {
      animation: fadeInRight 0.5s forwards;
      animation-delay: 1.2s;
    }
  }

  &__item-icon {
    margin-bottom: 15px;
  }

  &__item-title {
    width: 200px;
    margin: 0 auto 25px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: $grey;

    &::before {
      left: 50%;
      width: 60px;
      transform: translateX(-50%);
    }
  }

  &__item-text {
    font-size: 14px;
    line-height: 24px;
    color: #aeaeae;
  }
} /* services ================ */

.contact-us {
  padding: 105px 0 95px;
  margin-bottom: 75px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin-bottom: 35px;
    font-size: 34px;
    font-weight: bold;
    line-height: 58px;
    text-transform: uppercase;
  }
} /* contact-us ================ */

.about {
  margin-bottom: 80px;

  &__title {
    margin-bottom: 25px;
  }

  &__sub-title {
    margin-bottom: 74px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: calc(50% - 30px);
    text-align: left;

    & + .about__item {
      max-width: 584px;
      margin-left: 40px;
    }
  }

  &__row-title {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    color: $red;
    text-align: left;
    text-transform: uppercase;

    &::before {
      bottom: -12px;
      width: 50px;
    }
  }

  &__item-text {
    padding-top: 0;
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
    color: $grey;
    text-align: left;
    opacity: 0;
    animation: fadeInUp 0.4s forwards;
    animation-delay: 0.2s;

    & + p {
      margin-top: -13px;
    }
  }

  &__slider {
    margin-bottom: 30px;

    .slick-slide {
      padding: 0 !important;
      margin-bottom: 20px;
      margin-left: auto;
    }

    .slick-dots {
      font-size: 0;
      text-align: center;

      li {
        display: inline-block;
      }

      button {
        width: 35px;
        height: 4px;
        background-color: #aeaeae;
        border: 0;
      }

      li + li {
        margin-left: 5px;
      }

      .slick-active {
        button {
          background-color: $red;
        }
      }
    }
  }

  &__slider-item {
    display: flex !important;
    flex-wrap: wrap;
    width: 585px !important;
    margin-right: -5px;
    margin-left: -5px;

    img {
      width: 185px;
      margin: 5px;
      opacity: 0;
      animation-fill-mode: forwards;

      &:nth-child(3n + 1) {
        animation: fadeInLeft 0.5s forwards;
      }

      &:nth-child(3n + 2) {
        animation: fadeInUp 0.5s forwards;
        animation-delay: 0.2s;
      }

      &:nth-child(3n + 3) {
        animation: fadeInUp 0.5s forwards;
        animation-delay: 0.4s;
      }
    }
  }

  &__team-img {
    display: flex;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0;
      animation: fadeInUp 0.4s forwards;
    }
  }

  &__img-hov {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    padding: 0 20px;
    overflow: hidden;
    color: #fff;
    text-align: left;
    background-color: $red;
    transition: all 0.8s;
  }

  .posrel {
    position: relative;
    width: 16.666%;

    &:nth-child(6n + 1) img {
      animation: fadeInUp 0.5s forwards;
      animation-delay: 0.2s;
    }

    &:nth-child(6n + 2) img {
      animation: fadeInUp 0.5s forwards;
      animation-delay: 0.4s;
    }

    &:nth-child(6n + 3) img {
      animation: fadeInUp 0.5s forwards;
      animation-delay: 0.6s;
    }

    &:nth-child(6n + 4) img {
      animation: fadeInUp 0.5s forwards;
      animation-delay: 0.8s;
    }

    &:nth-child(6n + 5) img {
      animation: fadeInUp 0.5s forwards;
      animation-delay: 1s;
    }

    &:nth-child(6n + 6) img {
      animation: fadeInUp 0.5s forwards;
      animation-delay: 1.2s;
    }

    &:hover .about__img-hov {
      height: 100%;
      padding: 10px 20px;
    }
  }

  &__name {
    margin-bottom: auto;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
  }

  &__team-pos {
    margin-top: auto;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
  }

  &__team-sub-pos {
    font-size: 12px;
    line-height: 24px;
  }
} /* about ================ */

.strategic {
  padding: 90px 0 85px;
  margin-bottom: 75px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__btn {
    position: relative;
    display: inline-block;
    width: 92px;
    height: 92px;
    margin-bottom: 35px;
    background-color: $red;
    border: 0;
    border-radius: 50%;
  }

  &__triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 12px solid transparent;
    border-left: 24px solid #fff;
    border-radius: 2px;
    transform: translate(-21%, -50%);
  }

  &__title {
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: bold;
    line-height: 58px;
  }

  &__text {
    max-width: 1020px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
  }
} /* strategic ================ */

.news {
  margin-bottom: 80px;

  a,
  img {
    display: block;
    min-width: 300px;
    height: 100%;
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__sub-title {
    max-width: 1100px;
    margin-bottom: 76px;
  }

  &__row {
    display: flex;
    opacity: 0;
    animation: fadeInLeft 0.6s forwards;
    animation-delay: 0.4s;
  }

  &__sub-row {
    display: flex;
    min-height: 300px;
  }

  &__item {
    width: 75%;

    a {
      width: 25%;
    }

    &--high {
      display: flex;
      flex-direction: column;
      width: 25%;
      opacity: 0;
      animation: fadeInUp 0.6s forwards;
      animation-delay: .8s;

      img {
        min-height: 300px;
      }
    }
  }

  &__info {
    position: relative;
    width: 300px;
    height: min-content;
    min-height: 300px;
    padding: 30px;
    color: $red;
    text-align: left;
    background-color: $grey;
    opacity: 0;
    animation: jackInTheBox 1.3s forwards;
    animation-delay: 1.2s;

    a {
      min-width: 0;
    }
  }

  &__item-title {
    padding-bottom: 4px;
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;

    &::before {
      width: 50px;
    }
  }

  &__item-text {
    margin-bottom: 28px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
  }

  &__date {
    font-size: 12px;
    font-style: italic;
    text-align: right;
  }
} /* news ================ */

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 23px solid transparent;
  border-left: 23px solid $grey;

  &--right {
    top: 31px;
    left: 100%;
  }

  &--top {
    right: 31px;
    bottom: 100%;
    transform: rotate(-90deg);
  }

  &--left {
    top: 31px;
    right: 100%;
    transform: rotate(180deg);
  }
} /* arrow ================ */

.disfl {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
} /* disfl ================ */

.social {
  display: flex;
  align-items: center;

  a {
    display: block;

    &::before {
      font-size: 24px;
      color: $red;
      transition: color 0.3s;
    }

    &:hover::before {
      color: rgb(7, 131, 214);
    }

    & + a {
      padding-left: 15px;
      margin-left: 15px;
      border-left: 1px solid $red;
    }
  }

  span {
    display: inline-block;
    margin-right: 30px;
  }
} /* social ================ */

.footer {
  min-height: 100vh;
  color: #fff;
  text-align: left;

  &__bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 100px);
    padding-top: 100px;
  }

  &__item {
    max-width: 505px;

    & + .footer__item {
      margin-left: 30px;
    }
  }

  &__logo {
    margin-bottom: 35px;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    color: $red;
  }

  &__text {
    max-width: 505px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;

    &.red-line {
      margin-bottom: 60px;
    }

    &::before {
      bottom: -20px;
      width: 50px;
    }
  }

  .disfl {
    text-transform: uppercase;

    img {
      margin-right: 15px;
    }
  }

  address {
    font-style: normal;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: $red;
    text-transform: uppercase;

    &::before {
      width: 50px;
    }
  }

  input,
  textarea {
    width: 100%;
    height: 45px;
    padding: 12px 15px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: normal;
    color: #fff;
    background-color: transparent;
    border: 1px solid #aeaeae;

    &::placeholder {
      color: #afafaf;
    }
  }

  textarea {
    height: 190px;
    margin-bottom: 40px;
  }

  button {
    display: block;
    min-width: 130px;
    padding: 11px 20px;
    margin-bottom: 50px;
    margin-left: auto;
    background-color: $red;
    border: 0;
    border-radius: 18px;
  }

  &__copy {
    background-color: $grey;
  }

  &__copy-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
  }
} /* footer ================ */
